@model List<Order>
@{
    ViewData["Title"] = "Order History of All Custmber";
    Layout = "Admin_Layout";
}

@foreach(var order in Model)
{
    <div class="card mb-3">
        <div class="card-header">
            <strong>Order ID : </strong> @order.Id |
            <strong>Date : </strong> @order.OrderDate.ToString("g") |
            <strong>Status : </strong> <span class="text-danger">@order.Status</span>
        </div> 
        <div class="card-body">
            <table class="table table-bordered">
                <thead >
                    <th>Product</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Total</th>
                </thead>
                <tbody>
                    @foreach (var items in order.OrderItems)
                    {
                        <tr>
                            <td>@items.Product?.Name</td>
                            <td>@items.UnitPrice.ToString("C")</td>
                            <td>@items.Quantity</td>
                            <td>@(items.UnitPrice* items.Quantity)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <div class="text-end">
                <strong>Total Amount:</strong> @order.TotalAmount.ToString("C")
            </div>
        </div>

    </div>
}